[color]
	ui = true
[core]
	editor = vi
	attributesfile = ~/.gitattributes
	pager = "less -x2"
	excludesfile = ~/.gitignore_global
[user]
	name = ginpei
	email = ginpei@gmail.com
[alias]
	s = status -sb
	c = checkout
	b = branch
	d = diff --color-words
	diffc = diff --cached
	dc = diff --cached --color-words
	diffl = log -1 -p
	dl = log -1 -p  --color-words
	ap = add -p
	cm = commit -m
	cmx = commit --no-verify -m
	path = log --graph --date=short --pretty=format:\"%C(yellow)%h %C(white)%s %C(green)%d %C(red)%cn %C(blue)%cd - %cr\"
	graph = log --graph --date=short --pretty=format:\"%C(yellow)%h %C(white)%s %C(green)%d %C(red)%cn %C(blue)%cd - %cr\" --all
	daily = log --since=yesterday --author=ginpei --pretty=format:'* %s'  --all
	zip = archive --format=zip HEAD
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[color]
	branch = always
	diff = always
	interactive = always
	status = always
[push]
	default = simple
