[core]
	editor = vi
	attributesFile = ~/.gitattributes
	pager = "less -x2"
	excludesFile = ~/.gitignore_global
[user]
	name = Ginpei
	email = ginpei@ginpei.dev
[alias]
	s = status -sb
	c = checkout
	cp = cherry-pick
	w = switch
	b = branch
	d = diff --color-words
	diffc = diff --cached
	dc = diff --cached --color-words
	diffl = log -1 -p
	dl = log -1 -p  --color-words
	ap = add -p
	cm = commit -m
	cmx = commit --no-verify -m
	path = log --graph --date=short --pretty=format:\"%C(yellow)%h %C(white)%s %C(green)%d %C(red)%cn %C(blue)%cd - %cr\"
	graph = log --graph --date=short --pretty=format:\"%C(yellow)%h %C(white)%s %C(green)%d %C(red)%cn %C(blue)%cd - %cr\" --all
	daily = log --since=yesterday --author=ginpei --pretty=format:'* %s'  --all
	zip = archive --format=zip HEAD
	cancel = !git commit --no-verify -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[push]
	default = simple
